.ripple-distortion {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  contain: layout paint;
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ripple-distortion canvas {
  display: block;
  width: 100%;
  height: 100%;
}
